## Date Formating

In [2]:
import pandas as pd
import numpy as np

In [6]:
dates = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(dates)
df

           0
0 2000-01-01
1 2000-01-02
2 2000-01-03
3 2000-01-04
4 2000-01-05
5 2000-01-06
6 2000-01-07
7 2000-01-08

In [ ]:
df